<%- include("header") -%>

<h2>This is the Contact-us page</h2>

<p class="text">Hello, my name is Ashish.</p>
<p class="text">You can contact me via email- ashishking10508@gmail.com</p>

<%- include("footer") -%>